* {
    font-family: 'Montserrat', sans-serif;
    color: {{fontColor}};
     font-size:20px;
     overflow: hidden;
    
}
.main-container{
  border:9px solid; 
  border-bottom:12px solid;
  padding:-1px;
  padding-top:-2px;
  border-color: linear-gradient(to right top, #000000, #420f1d, #820327, #c20023, #ff0000) 1;

  
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        border-image: linear-gradient(to right top, #000000, #420f1d, #820327, #c20023, #ff0000) 1;
    }
    25% {
        border-image: linear-gradient(to right top, #000000, #2d0c14, #530818, #780014, #9b0000) 1;
    }
    50% {
        border-image:linear-gradient(to right bottom, #000000, #1d090e, #300f13, #441115, #571313) 1;
    }
    75% {
        border-image:  linear-gradient(to right top, #000000, #2d0c14, #530818, #780014, #9b0000) 1;
    }
    100% {
        border-image: linear-gradient(to right top, #000000, #420f1d, #820327, #c20023, #ff0000) 1;
    }
}
.fadeOutClass{
    animation: fadeOut 1s;
    animation-delay:{{fadeoutTime}}s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.place-first {
    mask-image: url('https://cdn.streamelements.com/assets/extension/gif/t1.gif');
    -webkit-mask-image: url('https://cdn.streamelements.com/assets/extension/gif/t1.gif');
 	background-color:gold;
}

.place-second {
    mask-image: url('https://cdn.streamelements.com/assets/extension/gif/t2.gif');
    -webkit-mask-image: url('https://cdn.streamelements.com/assets/extension/gif/t2.gif');
  background-color:grey;
}

.place-third {
    mask-image: url('https://cdn.streamelements.com/assets/extension/gif/t3.gif');
    -webkit-mask-image: url('https://cdn.streamelements.com/assets/extension/gif/t3.gif');
  background-color:saddlebrown;
}

.event-redemption {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
}

@keyframes slide-in {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes pop-in {
    0% {
        width: 0px;
        height: 0px;
        background-size: 0px 0px;
        margin-top: 23px;
        margin-left: 24px;
    }
    50% {
        width: 0px;
        height: 0px;
        background-size: 0px 0px;
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px
    }
    85% {
        width: 23px;
        height: 23px;
        background-size: 23px 23px;
        margin-top: 1px;
        margin-left: 2px;
        margin-right: 0px;
        margin-bottom: 0px
    }
    100% {
        width: 21px;
        height: 21px;
        background-size: 21px 21px;
        margin-top: 2px;
        margin-left: 3px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.event-container {
  font-size:25px;
    width: 0px;
 	 height: 50px;
    display: flex;
    background-color: {{backgroundColor}};
    margin-top: 1px;
    animation: 0.6s slide-in;
    animation-fill-mode: forwards;
}

.backgroundsvg{
    background: url(https://s3.amazonaws.com/cdn.streamelements.com/static/event-list/patterns/{{theme}}.svg);
    background-size: 100px;
    width:100%;
    opacity:calc({{backgroundOpacity}}/100);
    position:relative;
    z-index:0;
}
.event-image {
  font-size:16px;
    animation: 0.7s pop-in;
    animation-fill-mode: forwards;
    object-fit: contain;
    display: inline-block;

    width: 20px;
    -webkit-mask-size: cover;
    mask-size: cover;
    position:absolute;
}

.username-container {
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
  	text-aling:center;
    width: 140px;
    font-weight: 400;
    margin-top: 4px;
    margin-left: 63px;
    position:absolute;
}
.place-container {
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
    width: 140px;
    font-weight: 400;
    margin-top: 4px;
    margin-left: 33px;
    position:absolute;
}

.details-container {
  font-size:17px;
    position: absolute;
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
    right: 20px;
    text-align: right;
    margin-right: 15px;
    margin-left: 85px;
    margin-top: 3px;
}
.info-container {
  	font-size:17px;
    width: 0px;
 	 height: 50px;
    display: flex;
    background-color: {{backgroundColor}};

    margin-top: 4px;
    animation: 0.6s slide-in;
    animation-fill-mode: forwards;
}
.details-info-container{
   font-size:17px;
    position: absolute;
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
    right: 20px;
    text-align: right;
    margin-right: 15px;
    margin-left: 85px;
    margin-top: 3px; 
  
}
.counted-word{
 color:red; 
}

